Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, check-logger-trace

lefthook.yml:

min_version: 1.3.0
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '^\.|/\.'
      run: yarn eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    prettier:
      run: yarn prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    markdownlint:
      glob: '*.md'
      run: yarn markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    check-logger-trace:
      glob: 'src/**/*.{js,jsx,ts,tsx}'
      run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
      fail_text: "ERROR: Remove 'logger.trace' before committing."
    knip-files-exports:
      run: yarn knip --include files --exports
      fail_text: 'Read the report above.'
    protect-branch:
      run: git branch --show-current | tee /dev/tty | grep -Eqvx 'main|develop'
      fail_text: "ERROR: Do NOT commit directly to 'main' or 'develop' branch."
pre-push:
  commands:
    knip-dependencies:
      run: yarn knip --dependencies
      fail_text: 'Read the report above.'
    check-git-clean:
      run: test -z "$(git status --porcelain | tee /dev/tty)"
      fail_text: 'ERROR: Commit or stash changes before pushing.'

chore: add Markuplint VSCode extension
  .devcontainer/devcontainer.json
  .vscode/cspell.json
Due: none

chore: modify knip settings to avoid knip errors
  knip.json
Due: none

refactor: remove autoFocus to fix markuplint error
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/next-action-button/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password-success-message/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/index.tsx
  src/components/pages/account-page/current-user-info/editable-email/index.tsx
Due: eslint, check-logger-trace

refactor: add htmlFor attribute to the label element in the Label
  src/components/form-controls/label/index.tsx
Due: eslint, check-logger-trace

chore: disable no-hard-code-id rule to prevent Markuplint error on #main
  .markuplintrc
Due: none

chore: disable invalid-attr rule for specific elements to prevent Markuplint errors
  .markuplintrc
Due: none

chore: fix Markuplint errors (#174)
  .markuplintrc
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/next-action-button/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password-success-message/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/index.tsx
  src/components/form-controls/label/index.tsx
  src/components/pages/account-page/current-user-info/editable-email/index.tsx
Due: eslint, check-logger-trace

chore: add Markuplint to Lefthook pre-commit
  lefthook.yml
Due: none

chore: add Markuplint to Lefthook pre-commit (#176)
  lefthook.yml
Due: none

chore: update pr template to exclude task management issue numbers
  .github/pull_request_template.md
Due: markdownlint

chore: add a comment to the pull request template (#178)
  .github/pull_request_template.md
Due: markdownlint

chore: add issue template for bug reports
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

chore: add issue template for bug reports (#180)
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

feat: change the destination of the report issue link to frontend repo
  src/components/report-issue-link/index.tsx
Due: eslint, check-logger-trace

feat: change to use the bug report issue template
  src/components/report-issue-link/index.tsx
Due: eslint, check-logger-trace

feat: change the destination of the report issue button to the frontend repo (#182)
  src/components/report-issue-link/index.tsx
Due: eslint, check-logger-trace

refactor: change to use size-* classes for specifying Icon size
  src/app/(auth)/login/_components/login-form/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/current-password-input/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/new-password-input/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/index.tsx
  src/app/(main)/@modal/(.)account/_components/account-modal/index.tsx
  src/app/(main)/@modal/(.)users/[id]/_components/user-modal/index.tsx
  src/app/_components/snackbars/snackbar/index.tsx
  src/components/collapsible-section/index.tsx
  src/components/icon-message/index.tsx
  src/components/pages/account-page/current-user-info/change-password-link/index.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/index.tsx
  src/components/pages/account-page/current-user-info/private-mode-switch/toggle-switch/index.tsx
  src/components/pages/account-page/delete-account-button/index.tsx
  src/components/report-issue-link/index.tsx
Due: eslint, check-logger-trace

refactor: changed the height specification from h-[100dvh] to h-dvh
  src/app/(auth)/layout.tsx
  src/app/(main)/layout.tsx
  src/app/error.tsx
  src/app/not-found.tsx
Due: eslint, check-logger-trace

refactor: change [&:has(*)] to has-[*]
  src/app/layout.tsx
  src/components/editable-text/index.tsx
  src/components/form-controls/checkbox/index.tsx
  src/components/layouts/detail-item-heading-layout/index.tsx
Due: eslint, check-logger-trace

refactor: improve Tailwind CSS classes (#188)
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/_components/login-form/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/current-password-input/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/new-password-input/index.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/index.tsx
  src/app/(main)/@modal/(.)account/_components/account-modal/index.tsx
  src/app/(main)/@modal/(.)users/[id]/_components/user-modal/index.tsx
  src/app/(main)/layout.tsx
  src/app/_components/snackbars/snackbar/index.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/collapsible-section/index.tsx
  src/components/editable-text/index.tsx
  src/components/form-controls/checkbox/index.tsx
  src/components/icon-message/index.tsx
  src/components/layouts/detail-item-heading-layout/index.tsx
  src/components/pages/account-page/current-user-info/change-password-link/index.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/index.tsx
  src/components/pages/account-page/current-user-info/private-mode-switch/toggle-switch/index.tsx
  src/components/pages/account-page/delete-account-button/index.tsx
  src/components/report-issue-link/index.tsx
Due: eslint, check-logger-trace

chore: move pino-pretty config to src/lib/pino/logger.ts
  next.config.js
  package.json
  src/lib/pino/logger.ts
Due: eslint, check-logger-trace

chore: avoid Unused devDependencies error for pino-pretty by Knip
  knip.json
Due: none

chore: move pino-pretty configuration to logger.ts (#190)
  knip.json
  next.config.js
  package.json
  src/lib/pino/logger.ts
Due: eslint, check-logger-trace

refactor: change the login icon to ArrowRightEndOnRectangleIcon
  src/app/_components/login-link/index.tsx
Due: eslint, check-logger-trace

refactor: replace ArrowRightOnRectangleIcon with ArrowRightEndOnRectangleIcon (#195)
  src/app/_components/login-link/index.tsx
Due: eslint, check-logger-trace

refactor: change the sign up form to use Server Actions
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up.api.ts
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/app/_components/snackbars/snackbar/use-error-snackbar.tsx
  src/types/error.ts
  src/utils/error/create-error-object.ts
  src/utils/error/custom/content-type-error.ts
  src/utils/error/custom/http-error.ts
  src/utils/error/custom/network-error.ts
  src/utils/error/custom/unexpected-error.ts
  src/utils/error/custom/validation-error.ts
Due: eslint, check-logger-trace

chore: disable TypeScript errors partially temporarily
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/use-reset-password-form.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/index.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/use-editable-avatar.tsx
  src/components/pages/account-page/current-user-info/editable-bio/index.tsx
  src/components/pages/account-page/current-user-info/editable-email/index.tsx
  src/components/pages/account-page/current-user-info/editable-name/index.tsx
  src/components/pages/account-page/current-user-info/private-mode-switch/index.tsx
  src/components/pages/account-page/delete-account-button/index.tsx
  src/components/pages/account-page/logout-button/index.tsx
Due: eslint, check-logger-trace

refactor: change the implementation of the sign up form to use Server Actions (#258)
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/(auth)/password/change/_components/current-user-change-password-form/change-password-form/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/use-reset-password-form.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up.api.ts
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/app/_components/snackbars/snackbar/use-error-snackbar.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/use-editable-avatar.tsx
  src/components/pages/account-page/current-user-info/editable-bio/index.tsx
  src/components/pages/account-page/current-user-info/editable-email/index.tsx
  src/components/pages/account-page/current-user-info/editable-name/index.tsx
  src/components/pages/account-page/current-user-info/private-mode-switch/index.tsx
  src/components/pages/account-page/delete-account-button/index.tsx
  src/components/pages/account-page/logout-button/index.tsx
  src/types/error.ts
  src/utils/error/create-error-object.ts
  src/utils/error/custom/content-type-error.ts
  src/utils/error/custom/http-error.ts
  src/utils/error/custom/network-error.ts
  src/utils/error/custom/unexpected-error.ts
  src/utils/error/custom/validation-error.ts
Due: eslint, check-logger-trace

refactor: change the resend confirmation email button to use Server Actions
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/resend-confirmation-email.api.tsx
  src/types/api.ts
Due: eslint, check-logger-trace

refactor: change the type of resultObject for better readability
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/resend-confirmation-email.api.tsx
Due: eslint, check-logger-trace

refactor: change the implementation of the resend confirmation email button to use Server Actions (#263)
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/index.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/resend-confirmation-email.api.tsx
  src/types/api.ts
Due: eslint, check-logger-trace

refactor: change the implementation of reset password to use Server Actions
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password-success-message/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password.api.ts
  src/app/(auth)/password/reset/_components/reset-password-form/use-reset-password-form.tsx
Due: eslint, check-logger-trace

refactor: change the implementation of reset password to use Server Actions (#265)
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password-success-message/index.tsx
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password.api.ts
  src/app/(auth)/password/reset/_components/reset-password-form/use-reset-password-form.tsx
Due: eslint, check-logger-trace

build: install set-cookie-parser to convert set-cookie to objects
  .yarn/cache/@types-set-cookie-parser-npm-2.4.10-d2555d8830-105cc90c7d.zip
  .yarn/cache/set-cookie-parser-npm-2.7.0-f8857d236c-5c0a197c02.zip
  package.json
  yarn.lock
Due: none

refactor: change the implementation of login form to use Server Actions
  src/app/(auth)/login/_components/login-form/login.api.ts
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/utils/cookie/proxy-server-cookies.ts
Due: eslint, check-logger-trace

refactor: change the implementation of the login form to use Server Actions (#268)
  .yarn/cache/@types-set-cookie-parser-npm-2.4.10-d2555d8830-105cc90c7d.zip
  .yarn/cache/set-cookie-parser-npm-2.7.0-f8857d236c-5c0a197c02.zip
  package.json
  src/app/(auth)/login/_components/login-form/login.api.ts
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/utils/cookie/proxy-server-cookies.ts
  yarn.lock
Due: eslint, check-logger-trace

refactor: change the implementation of change avatar form to use Server Actions
  src/app/(main)/_components/main-header/account-avatar-link/account-link/index.tsx
  src/app/(main)/_components/main-header/account-avatar-link/index.tsx
  src/app/(main)/_components/main-header/header-avatar/index.tsx
  src/app/(main)/_components/main-header/index.tsx
  src/components/avatars/current-user-avatar/index.tsx
  src/components/avatars/current-user-avatar/use-current-user-avatar-store.tsx
  src/components/pages/account-page/account-query-param-snackbar/index.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/change-avatar.api.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/change-avatar.schema.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/index.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/use-avatar-editor.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/change-avatar.api.ts
  src/components/pages/account-page/current-user-info/editable-avatar/index.tsx
  src/components/pages/account-page/current-user-info/index.tsx
  src/schemas/response/change-user-info-success.ts
  src/types/api.ts
  tailwind.config.js
Due: eslint, check-logger-trace
