Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markuplint, markdownlint, check-logger-trace

eslint:
  run: yarn eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

markuplint:
  run: yarn markuplint --fix {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

markdownlint:
  run: yarn markdownlint-cli2 --fix {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

check-logger-trace:
  run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
  fail_text: 'ERROR: Remove ''logger.trace'' before committing.'

fix: refresh share modal content on pagination page change
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

fix: sync button wrapper layout between loading and real state
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: show pagination skeleton in share task group loading state
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: redesign task group share indicator and rename to link
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/create-task-group-share.api.ts
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

fix: unify empty state wording with other user list pages
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: adjust contact list card count to fill three-column grid evenly
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: align share page heading with task group detail page
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

feat: add status and user fields to task group share schema
  src/schemas/response/task-group-share.ts
Due: eslint, check-logger-trace

feat: add owner-view task group shares api
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/get-task-group-shares.api.ts
Due: eslint, check-logger-trace

chore: add Biome extension to Zed devcontainer customization
  .devcontainer/devcontainer.json
Due: none

feat: add task group share list and card components
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-cards-collapsible-section/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: exclude already-shared users from share contact list
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: integrate task group share list into share page
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

feat: add section headings to share page
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-page-content/index.tsx
  src/components/headings/share-section-heading/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: match loading skeleton height with task group share card
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-cards-collapsible-section/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: prevent card hover zoom from being clipped in collapsible section
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-page-content/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: extract shared content between share page and its modal
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-page-content/index.tsx
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

fix: eliminate flicker in collapsed share section
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-page-content/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: split card grid from collapsible wrapper for reusability
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/collapsible-task-group-share-cards/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-cards/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: center empty state within fixed height box
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: use p tag for share status text
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: return 404 for missing task group in owner shares fetch
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/get-task-group-shares.api.ts
Due: eslint, check-logger-trace

docs: add consumer-driven props typing rule
  .claude/rules/component-implementation.md
Due: markdownlint

feat: add request handover server action
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/request-handover.api.ts
Due: eslint, check-logger-trace

feat: add request handover button to task group share card
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/collapsible-task-group-share-cards/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/request-handover-button/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-cards/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: show handover button only for shared status
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: derive task group share card prop types from consumers
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: match loading skeleton height with task group share card
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: adjust share cards collapsible min height for handover button
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-cards-collapsible-section/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/collapsible-task-group-share-cards/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: reference directly rendered component for taskGroupId type
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/collapsible-task-group-share-cards/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-cards/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: keep handover modal open on request error
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/request-handover-button/index.tsx
Due: eslint, markuplint, check-logger-trace

refactor: remove unused export from task group share status schema
  src/schemas/response/task-group-share.ts
Due: eslint, check-logger-trace

feat: disable request handover button while another request is pending
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/collapsible-task-group-share-cards/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/request-handover-button/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-cards/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: show spinner while requesting handover
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/request-handover-button/index.tsx
Due: eslint, markuplint, check-logger-trace

docs: clarify prop drilling type reference to nearest rendered component
  .claude/rules/component-implementation.md
Due: markdownlint

feat: add accept handover server action
  src/app/(main)/tasks/shared-groups/[id]/_components/task-group-share-handover-notice/accept-handover.api.ts
Due: eslint, check-logger-trace

feat: add cancel handover button to task group share card
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/cancel-handover-request-button/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add cancel handover request server action
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/task-group-share-list/task-group-share-card/cancel-handover-request.api.ts
Due: eslint, check-logger-trace

feat: integrate handover notice into shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
Due: eslint, markuplint, check-logger-trace

feat: add pending handover button with accept confirmation
  src/app/(main)/tasks/shared-groups/[id]/_components/task-group-share-handover-notice/pending-handover-button/index.tsx
Due: eslint, markuplint, check-logger-trace

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  markuplint: any of: src/**/*.{jsx,tsx}
  markdownlint: any of: *.md
  check-logger-trace: any of: src/**/*.{js,jsx,ts,tsx}
