Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markuplint, markdownlint, check-logger-trace

lefthook.yml:

min_version: 2.0.0
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    markuplint:
      glob: 'src/**/*.{jsx,tsx}'
      run: yarn markuplint --fix {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    prettier:
      run: yarn prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    markdownlint:
      glob: '*.md'
      run: yarn markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    check-logger-trace:
      glob: 'src/**/*.{js,jsx,ts,tsx}'
      run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
      fail_text: "ERROR: Remove 'logger.trace' before committing."
    knip-files-exports:
      run: yarn knip --include files --exports
      fail_text: 'Read the report above.'
    protect-branch:
      run: git branch --show-current | tee /dev/tty | grep -Eqvx 'main'
      fail_text: "ERROR: Do NOT commit directly to 'main' branch."
pre-push:
  commands:
    knip-dependencies:
      run: yarn knip --dependencies
      fail_text: 'Read the report above.'
    check-git-clean:
      run: test -z "$(git status --porcelain | tee /dev/tty)"
      fail_text: 'ERROR: Commit or stash changes before pushing.'

chore: remove redundant codebase-memory-mcp cache volume
  .devcontainer/compose.devcontainer.yml
Due: none

build: remove COREPACK_ENABLE_STRICT env var from dev container
  .devcontainer/compose.devcontainer.yml
Due: none

chore: add rtk devcontainer feature
  .devcontainer/devcontainer.json
Due: none

build: bump codex devcontainer feature to v2
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add MCP and plugin config (#881)
  .claude/settings.json
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .gitignore
Due: none

chore: use official devcontainer features for common-utils and git
  .devcontainer/devcontainer.json
Due: none

build: update devcontainer feature lock file
  .devcontainer/devcontainer-lock.json
Due: none

chore: use official devcontainer features for common-utils and git (#882)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: install gh-stack extension in dev container
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

chore: install gh-stack extension in dev container (#883)
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

chore: expose codebase-memory-mcp ui on port 9749
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer.json
Due: none

chore: restrict codebase-memory-mcp ui port to localhost
  .devcontainer/compose.devcontainer.yml
Due: none

chore: expose codebase-memory-mcp ui on port 9749 (#885)
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer.json
Due: none

chore: force overrideCommand for zed devcontainer entrypoint composition
  .devcontainer/devcontainer.json
Due: none

chore: force overrideCommand for zed devcontainer entrypoint composition (#886)
  .devcontainer/devcontainer.json
Due: none

docs: require English for commit messages in git-spice-workflow skill
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

docs: require English for commit messages in git-spice-workflow skill (#888)
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

fix: install gh-stack skill non-interactively in devcontainer setup
  .claude/skills/gh-stack/SKILL.md
  .devcontainer/postCreateCommand.sh
  .markdownlint-cli2.jsonc
Due: markdownlint

chore: install gh-stack skill non-interactively in devcontainer setup (#889)
  .claude/skills/gh-stack/SKILL.md
  .devcontainer/postCreateCommand.sh
  .markdownlint-cli2.jsonc
Due: markdownlint

chore: set locale env for devcontainer terminal
  .devcontainer/devcontainer.json
Due: none

chore: set locale env for devcontainer terminal (#890)
  .devcontainer/devcontainer.json
Due: none

fix: align codebase-memory-mcp UI container port with published port
  .devcontainer/compose.devcontainer.yml
Due: none

chore: upgrade codebase-memory-mcp feature to v2
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer.json
Due: none

chore: upgrade codebase-memory-mcp feature to v2 (#891)
  .devcontainer/compose.devcontainer.yml
  .devcontainer/devcontainer.json
Due: none

fix: install gh-stack extension correctly via gh extension install
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

chore: install gh-stack extension correctly via gh extension install (#892)
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

fix: disable UID remapping in dev container
  .devcontainer/devcontainer.json
Due: none

chore: disable UID remapping in dev container (#893)
  .devcontainer/devcontainer.json
Due: none

feat: display shared task group list in sidebar
  src/app/(main)/tasks/_components/tasks-sidebar-content/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/get-task-group-shares.api.ts
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/shared-task-group-link/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-groups-error/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add shared task group detail page
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/shared-task-group-link/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/task-group-heading/index.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/get-task-group-share.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-detail/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-header-icon/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-heading/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-owner/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/error.tsx
  src/app/(main)/tasks/shared-groups/[id]/loading.tsx
  src/app/(main)/tasks/shared-groups/[id]/not-found.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/headings/task-group-name-heading/index.tsx
  src/components/pages/user-page/index.tsx
  src/schemas/response/task-group-share.ts
Due: eslint, markuplint, check-logger-trace

feat: add task list to shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-task-group-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/task-list/task-cards-container/index.tsx
  src/components/task-list/task-cards/index.tsx
  src/components/task-list/task-cards/task-card/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/status-square/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add calendar to shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-calendar-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-calendar/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-calendar/use-shared-task-calendar.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/tasks/task-cards-container/calendar-button/index.tsx
  src/components/tasks/task-cards-container/index.tsx
  src/components/tasks/task-list/index.tsx
  src/types/calendar-range.ts
  src/utils/calendar/convert-tasks-to-events.ts
  src/utils/calendar/create-calendar-config.ts
Due: eslint, markuplint, check-logger-trace

feat: add shared task group task detail page
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/error.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/layout.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/not-found.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/page.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/shared-task-cards/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/error.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/layout.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/not-found.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/page.tsx
  src/app/(main)/tasks/today/page.tsx
  src/components/pages/shared-task-page/get-shared-task.api.ts
  src/components/pages/shared-task-page/index.tsx
  src/components/pages/task-page/editable-task-ends-at/index.tsx
  src/components/pages/task-page/editable-task-estimated-time/index.tsx
  src/components/pages/task-page/editable-task-starts-at/index.tsx
  src/components/pages/task-page/editable-task-status/task-status-editor/index.tsx
  src/components/pages/task-page/editable-task-time-spent/index.tsx
  src/components/tasks/task-cards-container/calendar-button/index.tsx
  src/components/tasks/task-cards-container/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-link-loading-indicator/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-next-link/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-next-link/use-scroll-trigger-next-link.tsx
  src/components/tasks/task-cards-container/scroll-trigger-prev-link/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-prev-link/use-scroll-trigger-prev-link.tsx
  src/components/tasks/task-cards/index.tsx
  src/components/tasks/task-cards/task-card-task-group-link/index.tsx
  src/components/tasks/task-cards/task-card/date-utils.ts
  src/components/tasks/task-cards/task-card/format-utils.ts
  src/components/tasks/task-cards/task-card/index.tsx
  src/components/tasks/task-cards/task-card/task-status-button/index.tsx
  src/components/tasks/task-cards/task-card/task-status-square/index.tsx
  src/components/tasks/task-list/index.tsx
  src/utils/task/format-date-time.ts
  src/utils/task/format-minutes.ts
  src/utils/task/task-status-labels.ts
Due: eslint, markuplint, check-logger-trace

refactor: align error prop type with react-error-boundary's unknown type
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-groups-error/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/task-groups-error/index.tsx
  src/components/calendars/calendar-error/index.tsx
Due: eslint, markuplint, check-logger-trace

build: fix knip configuration errors caused by biome migration
  .yarn/cache/@oxc-resolver-binding-linux-arm64-gnu-npm-11.12.0-f99c88d4e8-10.zip
  .yarn/cache/@oxc-resolver-binding-linux-x64-gnu-npm-11.19.1-718d0ecf5c-10.zip
  knip.json
  yarn.lock
Due: none

build: ignore @biomejs/biome in knip dependency check
  knip.json
Due: none

chore: move knip check from pre-commit to pre-push and unify commands
  lefthook.yml
Due: none

build: change moduleResolution from node to bundler
  tsconfig.json
Due: none

feat: add server action to create task group share
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/create-task-group-share.api.ts
Due: eslint, check-logger-trace
