Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, check-logger-trace

eslint:
  run: yarn eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

markdownlint:
  run: yarn markdownlint-cli2 --fix {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

check-logger-trace:
  run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
  fail_text: 'ERROR: Remove ''logger.trace'' before committing.'

refactor: modify EditableText to make the last button unselectable only on hover (#446)
  src/components/editable-text/index.tsx
Due: eslint, check-logger-trace

chore: change dependabot update schedule to daily
  .github/dependabot.yml
Due: none

chore: change dependabot update schedule to daily (#447)
  .github/dependabot.yml
Due: none

chore: update bug report template for consistency
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

chore: update bug report template for consistency (#456)
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

chore: update dependabot to update Node to v22
  .github/dependabot.yml
Due: none

chore: update dependabot to update Node to v22 (#458)
  .github/dependabot.yml
Due: none

chore: update frontend service command in compose.yml
  compose.yml
Due: none

chore: add frontend service command in compose.yml (#461)
  compose.yml
Due: none

feat: add image placeholder for loading state
  src/components/avatars/avatar/index.tsx
  src/utils/image-placeholder/get-image-placeholder-url.ts
Due: eslint, check-logger-trace

feat: add image placeholder for loading state (#482)
  src/components/avatars/avatar/index.tsx
  src/utils/image-placeholder/get-image-placeholder-url.ts
Due: eslint, check-logger-trace

build: remove autoprefixer from dependencies
  .yarn/cache/autoprefixer-npm-10.4.20-dd5fd05d27-d3c4b562fc.zip
  .yarn/cache/browserslist-npm-4.24.4-2fdeb5face-11fda105e8.zip
  .yarn/cache/caniuse-lite-npm-1.0.30001699-aed268ac86-325bf4d4ea.zip
  .yarn/cache/electron-to-chromium-npm-1.5.96-31f446f362-2efff94918.zip
  .yarn/cache/escalade-npm-3.2.0-19b50dd48f-9d7169e396.zip
  .yarn/cache/fraction.js-npm-4.3.7-c2c7e95a8e-bb5ebcdeef.zip
  .yarn/cache/node-releases-npm-2.0.19-b123ed6240-c2b33b4f0c.zip
  .yarn/cache/normalize-range-npm-0.1.2-bec5e259e2-9b2f14f093.zip
  .yarn/cache/postcss-value-parser-npm-4.2.0-3cef602a6a-e4e4486f33.zip
  .yarn/cache/update-browserslist-db-npm-1.1.2-59b122fef6-e7bf8221df.zip
  package.json
  yarn.lock
Due: none

chore: avoid knip error
  knip.json
Due: none

chore: update PostCSS configuration for Tailwind CSS v4.0
  postcss.config.js
Due: eslint

chore: update globals.css
  src/app/globals.css
Due: none

feat: enhance error handling and sign up form validation
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up.api.ts
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/schemas/response/account.ts
  src/types/error.ts
  src/utils/api/fetch-data.ts
  src/utils/error/create-error-object.ts
  src/utils/error/custom/http-error.ts
  src/utils/form/create-form-errors-schema.ts
  src/utils/form/use-handle-form-error.tsx
Due: eslint, check-logger-trace

feat: enhance error handling and sign up form validation (#601)
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up.api.ts
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/schemas/response/account.ts
  src/types/error.ts
  src/utils/api/fetch-data.ts
  src/utils/error/create-error-object.ts
  src/utils/error/custom/http-error.ts
  src/utils/form/create-form-errors-schema.ts
  src/utils/form/use-handle-form-error.tsx
Due: eslint, check-logger-trace

refactor: rename 'details' in HttpError to 'data'
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/types/error.ts
  src/utils/api/fetch-data.ts
  src/utils/error/create-error-object.ts
  src/utils/error/custom/http-error.ts
Due: eslint, check-logger-trace

refactor: rename 'details' in HttpError to 'data' (#603)
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/types/error.ts
  src/utils/api/fetch-data.ts
  src/utils/error/create-error-object.ts
  src/utils/error/custom/http-error.ts
Due: eslint, check-logger-trace

fix: correct to display the proper error message in the snackbar on login failure
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/_components/snackbars/snackbar/use-error-snackbar.tsx
Due: eslint, check-logger-trace

fix: correct to display the proper error message in the snackbar on login failure (#631)
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/_components/snackbars/snackbar/use-error-snackbar.tsx
Due: eslint, check-logger-trace

fix: correct the error occurring when submitting the login form
  src/app/(auth)/login/_components/login-form/login.api.ts
Due: eslint, check-logger-trace

fix: correct the error occurring when submitting the login form (#632)
  src/app/(auth)/login/_components/login-form/login.api.ts
Due: eslint, check-logger-trace

chore: disable Corepack download prompt inside the container
  Dockerfile
Due: none

chore: disable Corepack download prompt inside the container (#633)
  Dockerfile
Due: none

fix: fix zod vaidation error when navigating to protected routes
  src/utils/api/server/get-current-user.ts
Due: eslint, check-logger-trace

fix: fix error occurring in HeaderAvatar when navigating to protected routes
  src/app/(main)/_components/main-header/header-avatar/index.tsx
  src/components/avatars/avatar/index.tsx
Due: eslint, check-logger-trace

fix: fix errors when navigating to protected routes (#638)
  src/app/(main)/_components/main-header/header-avatar/index.tsx
  src/components/avatars/avatar/index.tsx
  src/utils/api/server/get-current-user.ts
Due: eslint, check-logger-trace

fix: correct border color of the header on the home page
  src/app/_components/home-header/index.tsx
Due: eslint, check-logger-trace

fix: correct the border color of the home page bottom bar
  src/components/bottom-bar/index.tsx
Due: eslint, check-logger-trace

fix: fix the error related to avatarUrl when navigating to the account page
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/index.tsx
  src/components/pages/account-page/current-user-info/editable-avatar/index.tsx
Due: eslint, check-logger-trace

fix: fix the error that occurs in EditableName when navigating to the account page
  src/components/pages/account-page/current-user-info/editable-name/index.tsx
Due: eslint, check-logger-trace

fix: fix the error that occurs in EditableBio when navigating to the account page.
  src/components/pages/account-page/current-user-info/editable-bio/bio-editor/index.tsx
  src/components/pages/account-page/current-user-info/editable-bio/index.tsx
Due: eslint, check-logger-trace

fix: fix an error occurring in EditableEmail when navigating to the account page
  src/components/pages/account-page/current-user-info/editable-email/index.tsx
  src/schemas/response/account.ts
Due: eslint, check-logger-trace

fix: fix an error occurring in PrivateModeSwitch when navigating to the account page
  src/components/pages/account-page/current-user-info/private-mode-switch/index.tsx
Due: eslint, check-logger-trace

fix: fix an error occurring in CurrentUserChangePasswordFormShowButton when navigating to the account page
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/index.tsx
Due: eslint, check-logger-trace

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}, but not: ^\.|/\.
  markdownlint: any of: *.md
  check-logger-trace: any of: src/**/*.{js,jsx,ts,tsx}
