Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, check-logger-trace

lefthook.yml:

min_version: 1.3.0
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      exclude: '^\.|/\.'
      run: yarn eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    prettier:
      run: yarn prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    markdownlint:
      glob: '*.md'
      run: yarn markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    check-logger-trace:
      glob: 'src/**/*.{js,jsx,ts,tsx}'
      run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
      fail_text: "ERROR: Remove 'logger.trace' before committing."
    knip-files-exports:
      run: yarn knip --include files --exports
      fail_text: 'Read the report above.'
    protect-branch:
      run: git branch --show-current | tee /dev/tty | grep -Eqvx 'main|develop'
      fail_text: "ERROR: Do NOT commit directly to 'main' or 'develop' branch."
pre-push:
  commands:
    knip-dependencies:
      run: yarn knip --dependencies
      fail_text: 'Read the report above.'
    check-git-clean:
      run: test -z "$(git status --porcelain | tee /dev/tty)"
      fail_text: 'ERROR: Commit or stash changes before pushing.'

refactor: remove the code for displaying backend validation error messages when changing the name (#706)
  src/components/pages/account-page/current-user-info/editable-name/name-editor/index.tsx
Due: eslint, check-logger-trace

refactor: remove the code for displaying backend validation error messages when changing the bio
  src/components/pages/account-page/current-user-info/editable-bio/bio-editor/index.tsx
Due: eslint, check-logger-trace

refactor: remove the code for displaying backend validation error messages when changing the bio (#711)
  src/components/pages/account-page/current-user-info/editable-bio/bio-editor/index.tsx
Due: eslint, check-logger-trace

fix: fix error occurring during password reset email request
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/index.tsx
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/request-reset-password-email-success-message/index.tsx
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/use-request-reset-password-email-form.tsx
  src/utils/api/request-reset-password-email.ts
Due: eslint, check-logger-trace

fix: fix error occurring during password reset email request (#712)
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/index.tsx
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/request-reset-password-email-success-message/index.tsx
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/use-request-reset-password-email-form.tsx
  src/utils/api/request-reset-password-email.ts
Due: eslint, check-logger-trace

fix: fix Zod validation error on the homepage
  src/app/_components/login-link/validate-token.api.ts
Due: eslint, check-logger-trace

fix: fix Zod validation error on the homepage (#715)
  src/app/_components/login-link/validate-token.api.ts
Due: eslint, check-logger-trace

refactor: delete validate-token-success.ts
  src/schemas/response/validate-token-success.ts
Due: eslint, check-logger-trace

refactor: delete validate-token-success.ts (#716)
  src/schemas/response/validate-token-success.ts
Due: eslint, check-logger-trace

fix: fix cursor on button hover
  tailwind.config.js
Due: eslint

fix: fix cursor on button hover (#717)
  tailwind.config.js
Due: eslint

fix: display error message when requesting password reset email
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/use-request-reset-password-email-form.tsx
Due: eslint, check-logger-trace

fix: display the correct error message when requesting password reset email (#721)
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/use-request-reset-password-email-form.tsx
Due: eslint, check-logger-trace

feat: change Spinner to SVG
  src/components/spinner/index.tsx
Due: eslint, check-logger-trace

fix: fix display of Spinner in Button
  src/components/buttons/button/index.tsx
Due: eslint, check-logger-trace

fix: fix display of Spinner in IconButton
  src/components/buttons/icon-button/index.tsx
Due: eslint, check-logger-trace

feat: change Spinner to SVG (#724)
  src/components/buttons/button/index.tsx
  src/components/buttons/icon-button/index.tsx
  src/components/spinner/index.tsx
Due: eslint, check-logger-trace

fix: fix the error that occurs during password reset
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password.api.ts
Due: eslint, check-logger-trace

fix: fix the error that occurs during password reset (#725)
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password.api.ts
Due: eslint, check-logger-trace

fix: transform dynamic APIs to be properly awaited
  src/app/(auth)/password/reset/_components/reset-password-form/reset-password.api.ts
  src/app/(auth)/sign-up/_components/sign-up-form/sign-up-success-message/resend-confirmation-email.api.ts
  src/app/(main)/@modal/(.)users/[id]/page.tsx
  src/app/(main)/users/[id]/page.tsx
  src/app/_components/login-link/validate-token.api.ts
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/change-password.api.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/change-avatar.api.ts
  src/components/pages/account-page/current-user-info/editable-bio/bio-editor/change-bio.api.ts
  src/components/pages/account-page/current-user-info/editable-email/email-editor/change-email.api.ts
  src/components/pages/account-page/current-user-info/editable-name/name-editor/change-name.api.ts
  src/components/pages/account-page/current-user-info/private-mode-switch/private-mode-checkbox/change-is-private.api.ts
  src/components/pages/account-page/delete-current-user-account-button/delete-account-button/delete-account.api.ts
  src/components/pages/account-page/logout-button/logout.api.ts
  src/components/pages/user-page/index.tsx
  src/utils/api/request-reset-password-email.ts
  src/utils/api/server/get-current-user.ts
  src/utils/api/server/get-user.ts
  src/utils/cookie/bearer-token.ts
  src/utils/login-path/generate-redirect-login-path.server.ts
Due: eslint, check-logger-trace

fix: ensure bearerToken cookie is properly set after login
  src/app/(auth)/login/_components/login-form/login.api.ts
Due: eslint, check-logger-trace

fix: fix 413 error when changing avatar
  next.config.js
Due: eslint

fix: fix invalid next.config.js error
  next.config.js
Due: eslint

chore: enable turbopack for dev
  Dockerfile
  compose.yml
  package.json
Due: none

fix: fix module not found error
  src/app/(main)/_components/main-header/index.tsx
Due: eslint, check-logger-trace

build: enable Turbopack for dev (#731)
  Dockerfile
  compose.yml
  package.json
  src/app/(main)/_components/main-header/index.tsx
Due: eslint, check-logger-trace

fix: display the error message correctly when changing the password
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/change-password.api.ts
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/use-change-password-form-show-button.tsx
  src/utils/form/create-form-errors-schema.ts
Due: eslint, check-logger-trace

fix: display the error message correctly when changing the password (#732)
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/change-password.api.ts
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/use-change-password-form-show-button.tsx
  src/utils/form/create-form-errors-schema.ts
Due: eslint, check-logger-trace

chore: fix knip dependencies error
  .yarn/cache/zod-npm-3.25.20-8c7d738836-530819cc55.zip
  .yarn/cache/zod-npm-3.25.32-452afaaa73-58504f7e03.zip
  yarn.lock
Due: none

chore: fix knip dependencies error (#733)
  .yarn/cache/zod-npm-3.25.20-8c7d738836-530819cc55.zip
  .yarn/cache/zod-npm-3.25.32-452afaaa73-58504f7e03.zip
  yarn.lock
Due: none

chore: replace depandabot reviewers with CODEOWNERS
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

chore: replace depandabot reviewers with CODEOWNERS (#734)
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

fix: display success message for password reset email sent on the account page
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/use-change-password-form-show-button.tsx
Due: eslint, check-logger-trace

fix: display success message for password reset email sent on the account page (#735)
  src/components/pages/account-page/current-user-info/current-user-change-password-form-show-button/change-password-form-show-button/use-change-password-form-show-button.tsx
Due: eslint, check-logger-trace

refactor: change the file name of isValidValue
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/use-request-reset-password-email-form.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/app/api/log/route.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/use-avatar-editor.tsx
  src/components/pages/account-page/current-user-info/editable-email/email-editor/index.tsx
  src/utils/type-guard/is-valid-value.ts
Due: eslint, check-logger-trace

refactor: change the file name of isValidValue (#736)
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/(auth)/password/forgot/_components/request-reset-password-email-form/use-request-reset-password-email-form.tsx
  src/app/(auth)/sign-up/_components/sign-up-form/use-sign-up-form.tsx
  src/app/api/log/route.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/use-avatar-editor.tsx
  src/components/pages/account-page/current-user-info/editable-email/email-editor/index.tsx
  src/utils/type-guard/is-valid-value.ts
Due: eslint, check-logger-trace

fix: fix the lag when changing the name
  src/components/editable-text/index.tsx
  src/components/editable-text/use-editable-text.tsx
  src/components/pages/account-page/current-user-info/editable-name/name-editor/index.tsx
Due: eslint, check-logger-trace

fix: prevent outdated information from being displayed after name changes (#737)
  src/components/editable-text/index.tsx
  src/components/editable-text/use-editable-text.tsx
  src/components/pages/account-page/current-user-info/editable-name/name-editor/index.tsx
Due: eslint, check-logger-trace
