Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markuplint, markdownlint, check-logger-trace

eslint:
  run: yarn eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

markuplint:
  run: yarn markuplint --fix {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

markdownlint:
  run: yarn markdownlint-cli2 --fix {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

check-logger-trace:
  run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
  fail_text: 'ERROR: Remove ''logger.trace'' before committing.'

refactor: separate task group schema by whether shared_users is included
  src/components/calendars/task-calendar/get-calendar-tasks.api.ts
  src/schemas/response/task-group-share.ts
  src/schemas/response/task-group.ts
  src/utils/api/get-tasks.ts
Due: eslint, check-logger-trace

feat: add intercepting route modal for task group sharing
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/_components/share-task-group-modal/index.tsx
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/error.tsx
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/layout.tsx
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
  src/components/pages/share-task-group-error-page/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add contact list and card components for task group sharing
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/share-task-group-contact-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add share task group button with shared user avatars
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/index.tsx
  src/schemas/response/task-group.ts
Due: eslint, markuplint, check-logger-trace

fix: prevent pagination links from opening modal on direct access
  src/app/(main)/@modals/_components/modal-context-provider/index.tsx
  src/app/(main)/@modals/layout.tsx
  src/components/modal-context.tsx
  src/components/paginations/desktop-pagination/desktop-pagination-link/index.tsx
  src/components/paginations/mobile-pagination/mobile-page-turn-link/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add share task group button to task group detail page
  src/app/(main)/tasks/groups/[id]/page.tsx
Due: eslint, markuplint, check-logger-trace

feat: add direct access page for task group sharing
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

fix: match loading skeleton count with contact list fetch limit
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: prevent racing schema mismatch on task group share creation
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/get-task-group-shares.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/get-task-group-share.api.ts
  src/schemas/response/task-group-share.ts
Due: eslint, check-logger-trace

feat: redesign task group share indicator and rename to link
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/create-task-group-share.api.ts
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

fix: refresh share modal content on pagination page change
  src/app/(main)/@modals/(.)tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

fix: unify empty state wording with other user list pages
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: sync button wrapper layout between loading and real state
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-card/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: show pagination skeleton in share task group loading state
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: adjust contact list card count to fill three-column grid evenly
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-link/share-task-group-contact-list/index.tsx
Due: eslint, markuplint, check-logger-trace

fix: align share page heading with task group detail page
  src/app/(main)/tasks/groups/[id]/share/page.tsx
Due: eslint, markuplint, check-logger-trace

chore: add Biome extension to Zed devcontainer customization
  .devcontainer/devcontainer.json
Due: none

docs: extend git-spice-workflow skill trigger to autonomous invocations
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

docs: extend git-spice-workflow skill trigger to autonomous invocations (#895)
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

feat: display shared task group list in sidebar
  src/app/(main)/tasks/_components/tasks-sidebar-content/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/get-task-group-shares.api.ts
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/shared-task-group-link/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-groups-error/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add shared task group detail page
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/shared-task-group-link/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/task-group-heading/index.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/get-task-group-share.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-detail/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-header-icon/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-heading/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-owner/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/error.tsx
  src/app/(main)/tasks/shared-groups/[id]/loading.tsx
  src/app/(main)/tasks/shared-groups/[id]/not-found.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/headings/task-group-name-heading/index.tsx
  src/components/pages/user-page/index.tsx
  src/schemas/response/task-group-share.ts
Due: eslint, markuplint, check-logger-trace

feat: add task list to shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-task-group-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/task-list/task-cards-container/index.tsx
  src/components/task-list/task-cards/index.tsx
  src/components/task-list/task-cards/task-card/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/status-square/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add shared task group task detail page
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/error.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/layout.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/not-found.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/page.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/shared-task-cards/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/error.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/layout.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/not-found.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/page.tsx
  src/app/(main)/tasks/today/page.tsx
  src/components/pages/shared-task-page/get-shared-task.api.ts
  src/components/pages/shared-task-page/index.tsx
  src/components/pages/task-page/editable-task-ends-at/index.tsx
  src/components/pages/task-page/editable-task-estimated-time/index.tsx
  src/components/pages/task-page/editable-task-starts-at/index.tsx
  src/components/pages/task-page/editable-task-status/task-status-editor/index.tsx
  src/components/pages/task-page/editable-task-time-spent/index.tsx
  src/components/tasks/task-cards-container/calendar-button/index.tsx
  src/components/tasks/task-cards-container/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-link-loading-indicator/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-next-link/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-next-link/use-scroll-trigger-next-link.tsx
  src/components/tasks/task-cards-container/scroll-trigger-prev-link/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-prev-link/use-scroll-trigger-prev-link.tsx
  src/components/tasks/task-cards/index.tsx
  src/components/tasks/task-cards/task-card-task-group-link/index.tsx
  src/components/tasks/task-cards/task-card/date-utils.ts
  src/components/tasks/task-cards/task-card/format-utils.ts
  src/components/tasks/task-cards/task-card/index.tsx
  src/components/tasks/task-cards/task-card/task-status-button/index.tsx
  src/components/tasks/task-cards/task-card/task-status-square/index.tsx
  src/components/tasks/task-list/index.tsx
  src/utils/task/format-date-time.ts
  src/utils/task/format-minutes.ts
  src/utils/task/task-status-labels.ts
Due: eslint, markuplint, check-logger-trace

feat: add calendar to shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-calendar-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-calendar/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-calendar/use-shared-task-calendar.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/tasks/task-cards-container/calendar-button/index.tsx
  src/components/tasks/task-cards-container/index.tsx
  src/components/tasks/task-list/index.tsx
  src/types/calendar-range.ts
  src/utils/calendar/convert-tasks-to-events.ts
  src/utils/calendar/create-calendar-config.ts
Due: eslint, markuplint, check-logger-trace

refactor: align error prop type with react-error-boundary's unknown type
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-groups-error/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/task-groups-error/index.tsx
  src/components/calendars/calendar-error/index.tsx
Due: eslint, markuplint, check-logger-trace

chore: move knip check from pre-commit to pre-push and unify commands
  lefthook.yml
Due: none

build: fix knip configuration errors caused by biome migration
  .yarn/cache/@oxc-resolver-binding-linux-arm64-gnu-npm-11.12.0-f99c88d4e8-10.zip
  .yarn/cache/@oxc-resolver-binding-linux-x64-gnu-npm-11.19.1-718d0ecf5c-10.zip
  knip.json
  yarn.lock
Due: none

build: ignore @biomejs/biome in knip dependency check
  knip.json
Due: none

build: change moduleResolution from node to bundler
  tsconfig.json
Due: none

feat: add server action to create task group share
  src/app/(main)/tasks/groups/[id]/_components/share-task-group-button/create-task-group-share.api.ts
Due: eslint, check-logger-trace

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  markuplint: any of: src/**/*.{jsx,tsx}
  markdownlint: any of: *.md
  check-logger-trace: any of: src/**/*.{js,jsx,ts,tsx}
