Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markuplint, markdownlint, check-logger-trace

lefthook.yml:

min_version: 2.0.0
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: yarn eslint --fix --max-warnings=0 {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    markuplint:
      glob: 'src/**/*.{jsx,tsx}'
      run: yarn markuplint --fix {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    prettier:
      run: yarn prettier --write --ignore-unknown {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    markdownlint:
      glob: '*.md'
      run: yarn markdownlint-cli2 --fix {staged_files}
      stage_fixed: true
      fail_text: 'Read the report above.'
    check-logger-trace:
      glob: 'src/**/*.{js,jsx,ts,tsx}'
      run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
      fail_text: "ERROR: Remove 'logger.trace' before committing."
    knip-files-exports:
      run: yarn knip --include files --exports
      fail_text: 'Read the report above.'
    protect-branch:
      run: git branch --show-current | tee /dev/tty | grep -Eqvx 'main'
      fail_text: "ERROR: Do NOT commit directly to 'main' branch."
pre-push:
  commands:
    knip-dependencies:
      run: yarn knip --dependencies
      fail_text: 'Read the report above.'
    check-git-clean:
      run: test -z "$(git status --porcelain | tee /dev/tty)"
      fail_text: 'ERROR: Commit or stash changes before pushing.'

fix: hide PageSelector in TaskCardsContainer when only one page exists (#819)
  src/components/task-list/task-cards-container/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: improve TaskCard date display with conditional time hiding
  src/components/task-list/task-cards/task-card/date-utils.ts
  src/components/task-list/task-cards/task-card/format-utils.ts
  src/components/task-list/task-cards/task-card/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: improve TaskCard date display with conditional time hiding (#820)
  src/components/task-list/task-cards/task-card/date-utils.ts
  src/components/task-list/task-cards/task-card/format-utils.ts
  src/components/task-list/task-cards/task-card/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: replace task card checkbox with interactive status box
  src/components/pages/task-page/editable-task-status/task-status-editor/index.tsx
  src/components/task-list/task-cards/task-card/date-utils.ts
  src/components/task-list/task-cards/task-card/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/status-square/index.tsx
  src/utils/api/change-task-status.ts
Due: eslint, markuplint, check-logger-trace

feat: replace task card checkbox with interactive status box (#821)
  src/components/pages/task-page/editable-task-status/task-status-editor/index.tsx
  src/components/task-list/task-cards/task-card/date-utils.ts
  src/components/task-list/task-cards/task-card/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/status-square/index.tsx
  src/utils/api/change-task-status.ts
Due: eslint, markuplint, check-logger-trace

build: upgrade Zod from v3 to v4
  .yarn/cache/zod-npm-3.25.32-452afaaa73-58504f7e03.zip
  .yarn/cache/zod-npm-4.1.13-21040ff0ef-0679190318.zip
  package.json
  src/app/(main)/tasks/_components/tasks-sidebar-content/create-task-group-button/create-task-group-form/use-create-task-group-form.tsx
  src/components/editable-fields/editable-date-time/use-editable-date-time.tsx
  src/components/editable-fields/editable-date-time/use-editable-date-time.types.ts
  src/components/editable-fields/editable-hours-minutes/use-editable-hours-minutes.tsx
  src/components/editable-fields/editable-hours-minutes/use-editable-hours-minutes.types.ts
  src/components/editable-fields/editable-text/use-editable-text.types.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/change-avatar.schema.ts
  src/components/pages/account-page/current-user-info/editable-bio/bio-editor/index.tsx
  src/components/pages/create-task-page/create-task-form/create-task.schema.ts
  src/components/pages/task-page/editable-task-ends-at/task-ends-at-editor/index.tsx
  src/components/pages/task-page/editable-task-estimated-time/task-estimated-time-editor/index.tsx
  src/components/pages/task-page/editable-task-name/task-name-editor/index.tsx
  src/components/pages/task-page/editable-task-note/task-note-editor/index.tsx
  src/components/pages/task-page/editable-task-starts-at/task-starts-at-editor/index.tsx
  src/components/pages/task-page/editable-task-time-spent/task-time-spent-editor/index.tsx
  src/components/pages/user-page/create-contact-section/user-create-contact-form/index.tsx
  src/components/pages/user-page/editable-display-name/display-name-editor/index.tsx
  src/components/pages/user-page/editable-note/note-editor/index.tsx
  src/schemas/request/auth.ts
  src/schemas/request/task-group.ts
  src/utils/form/create-form-errors-schema.ts
  src/utils/type-guard/is-valid-value.ts
  src/utils/type-guard/validate-value.ts
  src/utils/validation/validate-data.ts
  yarn.lock
Due: eslint, markuplint, check-logger-trace

build: upgrade Zod from v3 to v4 (#822)
  .yarn/cache/zod-npm-3.25.32-452afaaa73-58504f7e03.zip
  .yarn/cache/zod-npm-4.1.13-21040ff0ef-0679190318.zip
  package.json
  src/app/(main)/tasks/_components/tasks-sidebar-content/create-task-group-button/create-task-group-form/use-create-task-group-form.tsx
  src/components/editable-fields/editable-date-time/use-editable-date-time.tsx
  src/components/editable-fields/editable-date-time/use-editable-date-time.types.ts
  src/components/editable-fields/editable-hours-minutes/use-editable-hours-minutes.tsx
  src/components/editable-fields/editable-hours-minutes/use-editable-hours-minutes.types.ts
  src/components/editable-fields/editable-text/use-editable-text.types.ts
  src/components/pages/account-page/current-user-info/editable-avatar/avatar-editor/change-avatar.schema.ts
  src/components/pages/account-page/current-user-info/editable-bio/bio-editor/index.tsx
  src/components/pages/create-task-page/create-task-form/create-task.schema.ts
  src/components/pages/task-page/editable-task-ends-at/task-ends-at-editor/index.tsx
  src/components/pages/task-page/editable-task-estimated-time/task-estimated-time-editor/index.tsx
  src/components/pages/task-page/editable-task-name/task-name-editor/index.tsx
  src/components/pages/task-page/editable-task-note/task-note-editor/index.tsx
  src/components/pages/task-page/editable-task-starts-at/task-starts-at-editor/index.tsx
  src/components/pages/task-page/editable-task-time-spent/task-time-spent-editor/index.tsx
  src/components/pages/user-page/create-contact-section/user-create-contact-form/index.tsx
  src/components/pages/user-page/editable-display-name/display-name-editor/index.tsx
  src/components/pages/user-page/editable-note/note-editor/index.tsx
  src/schemas/request/auth.ts
  src/schemas/request/task-group.ts
  src/utils/form/create-form-errors-schema.ts
  src/utils/type-guard/is-valid-value.ts
  src/utils/type-guard/validate-value.ts
  src/utils/validation/validate-data.ts
  yarn.lock
Due: eslint, markuplint, check-logger-trace

feat: add shared task group detail page
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/shared-task-group-link/index.tsx
  src/app/(main)/tasks/groups/[id]/_components/task-group-heading/index.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/get-task-group-share.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-detail/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-header-icon/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-heading/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-owner/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/error.tsx
  src/app/(main)/tasks/shared-groups/[id]/loading.tsx
  src/app/(main)/tasks/shared-groups/[id]/not-found.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/headings/task-group-name-heading/index.tsx
  src/components/pages/user-page/index.tsx
  src/schemas/response/task-group-share.ts
Due: eslint, markuplint, check-logger-trace

feat: display shared task group list in sidebar
  src/app/(main)/tasks/_components/tasks-sidebar-content/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/get-task-group-shares.api.ts
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-group-menu/shared-task-group-nav-links/shared-task-group-link/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-groups-error/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add task list to shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-task-group-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/task-list/task-cards-container/index.tsx
  src/components/task-list/task-cards/index.tsx
  src/components/task-list/task-cards/task-card/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/index.tsx
  src/components/task-list/task-cards/task-card/task-status-box/status-square/index.tsx
Due: eslint, markuplint, check-logger-trace

feat: add shared task group task detail page
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/error.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/layout.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/not-found.tsx
  src/app/(main)/@modals/(.)tasks/shared-groups/[id]/task/[taskId]/page.tsx
  src/app/(main)/tasks/groups/[id]/page.tsx
  src/app/(main)/tasks/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/shared-task-cards/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/error.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/layout.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/not-found.tsx
  src/app/(main)/tasks/shared-groups/[id]/task/[taskId]/page.tsx
  src/app/(main)/tasks/today/page.tsx
  src/components/pages/shared-task-page/get-shared-task.api.ts
  src/components/pages/shared-task-page/index.tsx
  src/components/pages/task-page/editable-task-ends-at/index.tsx
  src/components/pages/task-page/editable-task-estimated-time/index.tsx
  src/components/pages/task-page/editable-task-starts-at/index.tsx
  src/components/pages/task-page/editable-task-status/task-status-editor/index.tsx
  src/components/pages/task-page/editable-task-time-spent/index.tsx
  src/components/tasks/task-cards-container/calendar-button/index.tsx
  src/components/tasks/task-cards-container/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-link-loading-indicator/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-next-link/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-next-link/use-scroll-trigger-next-link.tsx
  src/components/tasks/task-cards-container/scroll-trigger-prev-link/index.tsx
  src/components/tasks/task-cards-container/scroll-trigger-prev-link/use-scroll-trigger-prev-link.tsx
  src/components/tasks/task-cards/index.tsx
  src/components/tasks/task-cards/task-card-task-group-link/index.tsx
  src/components/tasks/task-cards/task-card/date-utils.ts
  src/components/tasks/task-cards/task-card/format-utils.ts
  src/components/tasks/task-cards/task-card/index.tsx
  src/components/tasks/task-cards/task-card/task-status-button/index.tsx
  src/components/tasks/task-cards/task-card/task-status-square/index.tsx
  src/components/tasks/task-list/index.tsx
  src/utils/task/format-date-time.ts
  src/utils/task/format-minutes.ts
  src/utils/task/task-status-labels.ts
Due: eslint, markuplint, check-logger-trace

feat: add calendar to shared task group detail page
  src/app/(main)/tasks/shared-groups/[id]/_components/get-shared-calendar-tasks.api.ts
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-calendar/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-calendar/use-shared-task-calendar.tsx
  src/app/(main)/tasks/shared-groups/[id]/_components/shared-task-group-task-list/index.tsx
  src/app/(main)/tasks/shared-groups/[id]/page.tsx
  src/components/tasks/task-cards-container/calendar-button/index.tsx
  src/components/tasks/task-cards-container/index.tsx
  src/components/tasks/task-list/index.tsx
  src/types/calendar-range.ts
  src/utils/calendar/convert-tasks-to-events.ts
  src/utils/calendar/create-calendar-config.ts
Due: eslint, markuplint, check-logger-trace

refactor: align error prop type with react-error-boundary's unknown type
  src/app/(main)/tasks/_components/tasks-sidebar-content/shared-task-groups-error/index.tsx
  src/app/(main)/tasks/_components/tasks-sidebar-content/task-groups-error/index.tsx
  src/components/calendars/calendar-error/index.tsx
Due: eslint, markuplint, check-logger-trace

docs: add path-scoped rules for TypeScript, components, and CLAUDE.md maintenance
  .claude/rules/claude-md-maintenance.md
  .claude/rules/component-implementation.md
  .claude/rules/typescript.md
Due: markdownlint

docs: slim root CLAUDE.md down to always-relevant context
  .claude/CLAUDE.md
Due: markdownlint

docs: tighten git-spice-workflow skill and add commit/PR safety checks
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

docs: fix blank-line spacing in CLAUDE.md lists
  .claude/CLAUDE.md
Due: markdownlint

docs: avoid unnecessary line wraps in PR body paragraphs
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

docs: reorganize CLAUDE.md into path-scoped rules and tighten git-spice skill (#884)
  .claude/CLAUDE.md
  .claude/rules/claude-md-maintenance.md
  .claude/rules/component-implementation.md
  .claude/rules/typescript.md
  .claude/skills/git-spice-workflow/SKILL.md
Due: markdownlint

chore: add Zed customizations to dev container config
  .devcontainer/devcontainer.json
Due: none

chore: set remoteUser explicitly in dev container config
  .devcontainer/devcontainer.json
Due: none

chore: disable Corepack strict mode in dev container
  .devcontainer/compose.devcontainer.yml
Due: none

fix: use zed as editor and avoid unbound USER var in postCreateCommand
  .devcontainer/postCreateCommand.sh
Due: none

chore: add git-spice devcontainer feature
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add git-spice devcontainer feature (#878)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add claude-code devcontainer feature
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add claude-code devcontainer feature (#879)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add codex devcontainer feature
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add codex devcontainer feature (#880)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: add bun devcontainer feature
  .devcontainer/devcontainer.json
Due: none

chore: persist codebase-memory-mcp cache
  .devcontainer/compose.devcontainer.yml
Due: none

chore: restore project-scoped plugin config
  .claude/settings.json
  .gitignore
Due: none

chore: integrate codebase-memory-mcp devcontainer feature
  .devcontainer/devcontainer.json
Due: none
