Repository P-manBrown/tascon-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, check-logger-trace

eslint:
  run: yarn eslint --fix --max-warnings=0 {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

markdownlint:
  run: yarn markdownlint-cli2 --fix {staged_files}
  stage_fixed: true
  fail_text: Read the report above.

check-logger-trace:
  run: grep -nFH 'logger.trace' {staged_files} && exit 1 || exit 0
  fail_text: 'ERROR: Remove ''logger.trace'' before committing.'

chore: add commitlint VSCode extension
  .devcontainer/devcontainer.json
  .vscode/cspell.json
Due: none

chore: change dependabot schedule from daily to monthly
  .github/dependabot.yml
Due: none

chore: add task issue template
  .github/ISSUE_TEMPLATE/task.yml
Due: none

chore: add pull request template
  .github/pull_request_template.md
Due: markdownlint

chore: update Dependabot Docker Node ignore version to ~>23.0
  .github/dependabot.yml
Due: none

ci: remove ignore version from Dependabot npm configuration
  .github/dependabot.yml
Due: none

chore: update knip configuration
  knip.json
Due: none

chore: disable Lefthook to avoid errors during commit
  lefthook.yml
Due: none

chore: remove VSCode extension related to Jest
  .devcontainer/devcontainer.json
Due: none

chore: fix error when running Prettier
  .prettierrc.js
Due: none

chore: enable Lefthook
  lefthook.yml
Due: none

chore: set Dependabot to not upgrade Node.js to v21.0 or higher
  .github/dependabot.yml
Due: none

chore: limit Node.js version updated by Dependabot to v20.x (#144)
  .github/dependabot.yml
Due: none

build: update yarn package manager to v4.4.0
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

build: temporarily change Yarn install mode from pnp to node-modules
  .devcontainer/devcontainer.json
  .pnp.cjs
  .pnp.loader.mjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
Due: none

chore: revert temporary workaround for Prettier
  .prettierrc.js
Due: none

chore: convert task management issue template from YAML to Markdown
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.yml
Due: markdownlint

chore: make the issue template for task management usable with GitHub CLI (#149)
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.yml
Due: markdownlint

refactor: removed unnecessary @ts-expect-error
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/(auth)/password/change/page.tsx
  src/app/(main)/@modal/(.)users/[id]/page.tsx
  src/app/(main)/_components/main-header/index.tsx
  src/app/(main)/users/[id]/page.tsx
  src/app/_components/snackbars/snackbar/index.tsx
  src/app/_components/snackbars/snackbar/use-snackbar.tsx
  src/components/pages/account-page/index.tsx
Due: eslint, check-logger-trace

refactor: change metadata viewport to viewport object
  src/app/layout.tsx
Due: eslint, check-logger-trace

perf: avoid entire page being deopted into client-side rendering
  src/app/page.tsx
Due: eslint, check-logger-trace

chore: fix build errors in Next.js (#151)
  src/app/(auth)/login/_components/login-form/use-login-form.tsx
  src/app/(auth)/password/change/page.tsx
  src/app/(main)/@modal/(.)users/[id]/page.tsx
  src/app/(main)/_components/main-header/index.tsx
  src/app/(main)/users/[id]/page.tsx
  src/app/_components/snackbars/snackbar/index.tsx
  src/app/_components/snackbars/snackbar/use-snackbar.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/pages/account-page/index.tsx
Due: eslint, check-logger-trace

chore: remove 'develop' from Lefthook protect-branch
  lefthook.yml
Due: none

chore: remove develop from Lefthook protect-branch (#153)
  lefthook.yml
Due: none

chore: remove knip from scripts in package.json
  package.json
Due: none

chore: remove knip from scripts in package.json (#155)
  package.json
Due: none

refactor: remove unnecessary entries from Knip configuration file
  knip.json
Due: none

refactor: remove unnecessary entries from Knip configuration file (#157)
  knip.json
Due: none

build: remove eslint-plugin-storybook from dependencies
  .yarn/cache/@storybook-csf-npm-0.0.1-1c0d31d162-f6bb019bcc.zip
  .yarn/cache/@types-json-schema-npm-7.0.12-f05cfc0e99-7a72ba9cb7.zip
  .yarn/cache/@types-semver-npm-7.5.0-4823ff34be-8fbfbf79e9.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-5.62.0-c0013838b0-e827770baa.zip
  .yarn/cache/@typescript-eslint-types-npm-5.62.0-5c2e0aab15-24e8443177.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-5.62.0-5d1ea132a9-06c975eb5f.zip
  .yarn/cache/@typescript-eslint-utils-npm-5.62.0-907f2d579e-15ef13e439.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-5.62.0-da1af55f83-dc613ab756.zip
  .yarn/cache/eslint-plugin-storybook-npm-0.8.0-8d2a99710e-a66e673729.zip
  .yarn/cache/requireindex-npm-1.2.0-483c52ddaf-266d1cb31f.zip
  .yarn/cache/ts-dedent-npm-2.2.0-00389a0e6b-93ed8f7878.zip
  .yarn/cache/tslib-npm-1.14.1-102499115e-7dbf34e6f5.zip
  .yarn/cache/tsutils-npm-3.21.0-347e6636c5-ea036bec1d.zip
  package.json
  yarn.lock
Due: none

chore: remove eslint-plugin-storybook from ESLint configuration file
  .eslintrc.js
Due: none

build: remove eslint-plugin-storybook (#159)
  .eslintrc.js
  .yarn/cache/@storybook-csf-npm-0.0.1-1c0d31d162-f6bb019bcc.zip
  .yarn/cache/@types-json-schema-npm-7.0.12-f05cfc0e99-7a72ba9cb7.zip
  .yarn/cache/@types-semver-npm-7.5.0-4823ff34be-8fbfbf79e9.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-5.62.0-c0013838b0-e827770baa.zip
  .yarn/cache/@typescript-eslint-types-npm-5.62.0-5c2e0aab15-24e8443177.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-5.62.0-5d1ea132a9-06c975eb5f.zip
  .yarn/cache/@typescript-eslint-utils-npm-5.62.0-907f2d579e-15ef13e439.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-5.62.0-da1af55f83-dc613ab756.zip
  .yarn/cache/eslint-plugin-storybook-npm-0.8.0-8d2a99710e-a66e673729.zip
  .yarn/cache/requireindex-npm-1.2.0-483c52ddaf-266d1cb31f.zip
  .yarn/cache/ts-dedent-npm-2.2.0-00389a0e6b-93ed8f7878.zip
  .yarn/cache/tslib-npm-1.14.1-102499115e-7dbf34e6f5.zip
  .yarn/cache/tsutils-npm-3.21.0-347e6636c5-ea036bec1d.zip
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}, but not: ^\.|/\.
  markdownlint: any of: *.md
  check-logger-trace: any of: src/**/*.{js,jsx,ts,tsx}
